[submodule "lib"]
	path = lib
	url = https://github.com/Juniper/py-junos-eznc.git

[submodule "setup.py"]
	path = setup.py
	url = https://github.com/Juniper/py-junos-eznc.git
	
[submodule "requirements.txt"]
	path = requirements.txt
	url = https://github.com/Juniper/py-junos-eznc.git
	
